/* IMPOSTAZIONI GENERALI */
html {
  font-size: 62.5%;
}
body {
  font-family: Poppins, 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 15px;
  background-image: url('../img/sfondo.png');
  background-position: center center;
}
* {
  box-sizing: border-box;
}
hr {
  display: none;
} /* rimuove l'elemento */

/* HEADER */
header {
  background: rgb(0, 160, 198);
  background: linear-gradient(
    180deg,
    rgba(0, 160, 198, 1) 0%,
    rgba(3, 109, 134, 1) 68%
  );
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  box-shadow: 0 3px 3px #444;
  margin-bottom: 1.5em;
  padding: 2em 1.5em;
}
header div img {
  margin-bottom: 20px;
}
header nav ul {
  margin: 0;
}
header nav li {
  list-style: none;
}
header nav li a {
  color: white;
  text-decoration: none;
}
header nav li a:hover {
  color: red;
}
header nav li a::before {
  content: '\22c6\0020';
}

/* MAIN */
main {
  background-color: #fff;
  box-shadow: 0 3px 3px #444;
  padding: 2em 1em;
  margin-bottom: 1.5em;
}
section {
  background-color: #e3e3e3;
  padding: 1em;
  margin-bottom: 2em;
}
section h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 0.7em;
}
p,
address,
ul,
ol,
dl,
blockquote {
  margin-bottom: 1.2em;
}
h1 + p {
  color: #a0a0a0;
}
ul,
ol {
  margin-left: 2em;
}
a {
  color: #00a0c6;
  font-weight: bold;
}
strong {
  color: #a02571;
  font-weight: bold;
}
code {
  background-color: #e3e3e3;
  border: 1px solid #969494;
  border-radius: 5px;
}
iframe {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 20px;
}

/* TABELLE */
table {
  margin-bottom: 2em;
}
caption {
  font-weight: bold;
  font-style: italic;
}
thead tr {
  background-color: #3f6bca;
  color: #ffffff;
}
th,
td {
  padding: 12px 15px;
  vertical-align: bottom;
  text-align: center;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
  padding: 5px;
  border: 0;
  border-bottom: 1px dashed #333;
}
button {
  padding: 4px 7px;
  background-color: #3f6bca;
  border: 0;
  color: white;
  font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}
aside div {
  background-color: #e3e3e3;
  border: 1px solid #c3c3c3;
  margin-bottom: 1em;
  padding: 1em;
}
aside div p:last-child {
  margin-bottom: 0;
  font-size: 0.8em;
  text-align: right;
}

/* FOOTER */
footer {
  background: rgb(53, 53, 53);
  background: linear-gradient(
    0deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(5, 85, 103, 1) 68%
  );
  box-shadow: 0 3px 3px #444;
  color: #f0f0f0;
  padding: 1em;
  text-align: center;
  font-size: 1.2rem;
}
footer a {
  color: fuchsia;
}
@media screen and (min-width: 320px) {
  body {
    font-size: 1.4rem; /* Mantiene la dimensione base per dispositivi mobili */
  }
  header nav li {
    margin: 0 5px; /* Meno spazio su schermi piccoli */
  }
}

@media screen and (min-width: 576px) {
  body {
    font-size: 1.6rem; /* Leggermente più grande per i tablet */
  }
  header nav li {
    margin: 0 10px; /* Margine standard */
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem; /* Maggiore dimensione del font per schermi più grandi */
  }
  main {
    padding: 3em 2em; /* Maggiore spazio per schermi più grandi */
  }
  aside div {
    padding: 1.5em; /* Maggiore padding negli elementi dell' aside */
  }
}

@media screen and (min-width: 1200px) {
  lorenzoLione 28/10/2024 17: 06 • header div, header nav, header nav ul,
    header nav ul li, header div img, header div p {
    margin: 0;
    padding: 0;
    display: inline;
    vertical-align: middle;
    font-size: 1rem;
  }

  body {
    font-size: 2rem; /* Dimensione font più grande per grandi desktop */
  }
  header {
    padding: 3em 2em; /* Aumenta il padding dell'header */
  }
}
/* MEDIA PRINT */
@media print {
  body {
    font-size: 12pt; /* Dimensione del font per la stampa */
    line-height: 1.2; /* Line-height per facilità di lettura */
    color: black; /* Assicura che il testo sia nero */
    background: none; /* Rimuove lo sfondo */
  }

  header,
  footer {
    display: none; /* Nasconde header e footer nella stampa */
  }

  main {
    padding: 0; /* Rimuove il padding nel main */
    background-color: white; /* Assicura uno sfondo bianco per la stampa */
  }

  table {
    width: 100%; /* Rende la tabella completa per la stampa */
    border-collapse: collapse; /* Collassa i bordi delle celle nella tabella */
  }

  th,
  td {
    border: 1px solid black; /* Aggiunge un bordo per le celle */
    padding: 8px; /* Padding per le celle */
    text-align: left; /* Allinea il testo a sinistra */
  }

  h1,
  h2 {
    page-break-after: avoid; /* Evita interruzioni di pagina dopo gli header */
  }

  a {
    color: black; /* Rende i link neri */
  }

  iframe {
    display: none; /* Nasconde gli iframe nella stampa */
  }

  /* Nasconde gli aside per la stampa */
  aside {
    display: none;
  }
}
